extends layout 

block content
  .container
    h1= title

    h3 New Department
    .row
      .col-xs-12.col-md-6
        form.form-horizontal(action="", method="post", role="form")
          .form-group
            label(for='faculty') Faculty:
            select#faculty.form-control(type='select' placeholder='Select Faculty' name='faculty' required='true' )
              for faculty in faculties
                if department
                  option(
                    value=faculty._id
                    selected=(
                      faculty._id.toString()==department.faculty._id
                      || faculty._id.toString()==department.faculty
                    ) ? 'selected' : false
                  ) #{faculty.faculty_name}
                else
                  option(value=faculty._id) #{faculty.faculty_name}
          .form-group
            label(for='course_code') Department Code:
            input#department_code.form-control(type='text', placeholder='Department code' value=(undefined===department ? '' : department.department_code) name='department_code' required='true')
          .form-group
            label(for='title') Department Name:
            input#department_name.form-control(type='text', placeholder='Department name' value=(undefined===department ? '' : department.department_name) name='department_name' required='true' )
          
          button.btn.btn-primary(type='submit') Add

    